<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>vue-dusion-keyboard</title>
  <link rel='icon' href='./favicon.ico' type='image/x-ico' />
  <style>
    #app {
      text-align: center;
    }

    .title-tip {
      color: red;
    }
  </style>
</head>

<body>
  <div id="app">
    <h2 class="title-tip">注意：临时地址，随时可能删除。</h2>
    拼音：
    <input type="text" data-mode="cn" />
    手写：
    <input type="text" data-mode="hand" />
    英文：
    <input type="text" data-mode="en" />
    数字：
    <input type="text" data-mode="num" />
    空：
    <input id="test" v-if="show" type="text" @focus="$refs.keyboard.show_keyboard"
      @blur="$refs.keyboard.hide_keyboard" />
    空2：
    <input id="test" v-if="show" type="text" onfocus="$show_keyboard(event)"
      onblur="$hide_keyboard(event)" />
    <vue-dusion-keyboard ref="keyboard" all window hand float hand-write-api="http://jsrtj.fotoit.cn/iis/HandWriteApi/words">
    </vue-dusion-keyboard>
    <!-- <vue-dusion-keyboard hand float :blurHide="false"></vue-dusion-keyboard> -->
  </div>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script src="./vue-dusion-keyboard.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        haha: false,
        show: false
      },
      mounted() {
        this.show = true
      }
    })
  </script>
</body>

</html>